Repository heyitsalina/ant_search_algorithm, pull requests merged in 2023-12, with the labels that each got.

#39 Set up simulation.py
  resources/colony.py
  resources/gui.py
  resources/simulation.py
  resources/world.py
  test/test_simulation.py
  test/test_world.py
Labels: Colonie, Simulation

#41 Added pyproject.toml
  .github/workflows/main.yml
  REQUIREMENTS.txt
  pyproject.toml
  resources/simulation.py
Labels: documentation

#42 Move method for ant has been coded
  resources/ant.py
Labels: enhancement, Ant

#43 Added function for food and colony buttons
  images/apple.png
  images/colony.png
  pyproject.toml
  resources/ant.py
  resources/colony.py
  resources/gui.py
  resources/simulation.py
Labels: enhancement, GUI

#50 Added settings popup to gui
  resources/colony.py
  resources/gui.py
Labels: enhancement, GUI

#51 Bounds of walking area of the ants
  resources/ant.py
  resources/gui.py
  resources/simulation.py
Labels: enhancement, GUI, Simulation

#58 Added a button to clear the canvas
  resources/gui.py
Labels: enhancement, GUI, Medium Priority

#57 Find _food method has been coded
  resources/ant.py
Labels: enhancement, Ant, High Priority

#60 Added tests to the test_move() and test_find_food() functions in test_ant.py
  test/test_ant.py
Labels: Ant, Test, Medium Priority

#59 run workflow process with diffrent python versions
  .github/workflows/main.yml
Labels: Test, Medium Priority

#61 Added carry_food() and also switchpheromone() (idea)-- #26 #46
  resources/ant.py
  resources/colony.py
  test/test_ant.py
Labels: enhancement, Ant, High Priority
