Repository heyitsalina/ant_search_algorithm, pull requests merged in 2024-02, with the labels that each got.

#102 error dialogs + sound effects
  README.md
  pyproject.toml
  resources/gui.py
  sounds/click.mp3
  sounds/error.mp3
  sounds/place.mp3
Labels: enhancement, GUI, Low Priority

#105 Added tests to ant class + found error
  README.md
  test/test_ant.py
  test/test_food.py
  test/test_simulation.py
Labels: Test

#111 bug fixes
  images/background.png
  resources/gui.py
Labels: bug, GUI, Low Priority

#113 Food life bar bug fix
  resources/food.py
  resources/gui.py
Labels: bug, GUI, Low Priority, Food

#120 Added simple simulation without using the gui
  resources/simulation.py
Labels: Simulation, High Priority

#121 updated readme to fulfill documentation guidelines
  README.md
Labels: documentation

#125 Update README.md regarding explanation GIF
  README.md
Labels: documentation, enhancement

#109 Pursuing the pheromone trails
  resources/ant.py
  resources/colony.py
  resources/gui.py
  resources/simulation.py
Labels: enhancement, GUI, Simulation, High Priority, Pheromone

#126 minor bug fixes
  resources/gui.py
  resources/simulation.py
Labels: bug, GUI

#132 added obstacle feature
  images/obstacle.png
  resources/gui.py
  resources/simulation.py
  statistics/statistics.py
Labels: enhancement, GUI, Simulation

#134 added the tests for simulation class
  test/test_simulation.py
Labels: bug, help wanted, Simulation, Test, Low Priority

#127 Parameter Study
  resources/simulation.py
Labels: Simulation, Medium Priority

#137 fixed another bug regarding viewing advanced_functions.gif
  README.md
Labels: documentation, High Priority

#141 some adjustments + optimizations
  resources/ant.py
  resources/colony.py
  resources/gui.py
  resources/simulation.py
Labels: GUI, Ant, Simulation, Medium Priority, Performance

#147 added config docstring
  resources/config.py
Labels: documentation

#149 Enhanced the developer project description
  devs/docs/algorithms.md
  devs/docs/architecture.md
Labels: documentation, Low Priority, optimization

#148 Optimization and clean code
  resources/ant.py
  resources/colony.py
  resources/food.py
  resources/pheromone.py
  resources/simulation.py
  resources/timer_decorator.py
  test/test_pheromone.py
Labels: Medium Priority, Clean Code, optimization

#153 examples + gui docstrings
  .gitignore
  examples/example_01/statistics.json
  examples/example_01/statistics.pdf
  examples/example_01/statistics.tex
  examples/example_02/statistics.json
  examples/example_02/statistics.pdf
  examples/example_02/statistics.tex
  examples/example_03/statistics.json
  examples/example_03/statistics.pdf
  examples/example_03/statistics.tex
  resources/gui.py
Labels: documentation, enhancement, GUI

#154 some readme and dev docs changes
  README.md
  devs/docs/architecture.md
Labels: documentation

#159 fixed bug
  resources/gui.py
Labels: bug, GUI

#161 fixed move method and example 2
  examples/example_02/statistics.json
  resources/ant.py
Labels: bug
