Repository heyitsalina/ant_search_algorithm, pull requests merged in 2024-01, with the labels that each got.

#66 Added button to adjust the view
  resources/config.py
  resources/gui.py
  resources/simulation.py
Labels: enhancement, GUI, Low Priority

#73 Delete food objects if amount_of_food == 0
  resources/gui.py
  resources/simulation.py
Labels: enhancement, GUI, Simulation

#75 removed start() from Ant
  resources/simulation.py
Labels: Ant

#74 Added Pheromone class in pheromone.py and its test file
  resources/pheromone.py
  resources/simulation.py
  test/test_pheromone.py
Labels: Test, High Priority, Pheromones

#76 pheromone reduction mechanism - a few steps
  resources/pheromone.py
Labels: enhancement, Pheromone

#78 Changed is_near_target method to use parameters
  resources/ant.py
Labels: enhancement, Ant, Low Priority

#95 Implement mapping method for ant coordinates to pheromone grid indices
  resources/colony.py
  resources/gui.py
  resources/pheromone.py
  resources/simulation.py
  test/test_colony.py
  test/test_pheromone.py
Labels: enhancement, Simulation, High Priority

#94 Changes regarding pheromone
  resources/gui.py
  test/test_pheromone.py
Labels: Colonie, High Priority, Pheromone

#96 Shifted the canvas + added pheromone grid to settings + minor fixes
  images/ant_icon.png
  resources/gui.py
  resources/pheromone.py
  resources/simulation.py
Labels: bug, enhancement, GUI, Simulation

#99 some design changes and additions
  resources/food.py
  resources/gui.py
Labels: enhancement, GUI, Low Priority
